/* CSS BY ZAC WEBB */

/* IMPORTED FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ROOT VARIABLES */
:root {
    --blue: #007BFF;
    --red: #FF4500;
    --white: #EAEAEA;
    --black: #000000;
    --charcoal: #333333;
    --font: "Inter", sans-serif;
}

/* GLOBAL STYLES (MOBILE FIRST (SMALL) */

body{
    font-family: var(--font);
    min-width: 400px;
}

.results, .expertise, .cards, .form{
    max-width: 1100px;
}

#logo {
    width: 50px;
}

.header-container{
    color: var(--blue);
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 15px;
    font-weight: 800;
    font-size: 2rem;
    position: relative;
    max-width: 1100px;
    margin: auto;
}

header{
    background-color: var(--black);
    box-shadow: 0 4px 8px var(--blue);
    z-index: 1;
    position: relative;
}

.header-logo{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: relative;
}

.dropdown h2{
    padding: 10px;
    transition: color 0.6s ease, background-color 0.6s ease;
}

.dropdown h2:hover{
    cursor: pointer;
    color: var(--black);
    background-color: var(--blue);
}

.hero-section{
    position: relative;
}

.blur{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: var(--white);
    text-align: center;
    width: 85%;
    max-width: 700px;
    backdrop-filter: blur(10px);
    padding: 15px;
    position: relative;
    z-index: 5;
}

.blur h2{
    font-size: 1.75rem;
    font-weight: 800;
}

.blur p{
    font-weight: 300;
    line-height: 20px;
}

.blur a{
    text-decoration: none;
    color: var(--white);
    font-weight: 600;
    font-size: 1.25rem;
    background-color: var(--blue);
    padding: 18px;
    border-radius: 6px;
    transition: background-color 0.4s ease;
}

.expertise, .cards, .results, .form{
    width: 90%;
    margin: auto;
}

.expertise{
    margin: 40px auto;
}

.expertise h2, .results h2, .results h3, .form h2{
    font-size: 1.75rem;
    font-weight: 700;
    margin-left: 10px;
}

.expertise p{
    font-weight: 500;
    line-height: 25px;
    margin: 30px 0;
}

.cards{
    display: grid;
    gap: 20px;
    margin-bottom: 80px;
    grid-template-columns: 1fr;
}

.card{
    background-color: var(--blue);
    color: var(--white);
    padding: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    line-height: 24px;
    transition: transform 0.5s ease;
    flex: 1;
}

.card:hover{
    transform: translateY(-10px);

}

.card h3{
    font-size: 1.5rem;
    font-weight: 700;
    padding: 10px;
}

.results-container{
    background-color: var(--blue);
    padding: 25px 0;
    color: var(--white);
}

.results h2{
    margin-top: 30px;
}

.results p{
    margin: 15px auto;
    line-height: 22px;
}

.results table{
    width: 100%;
    background-color: var(--black);
    margin: 40px auto;
    height: 325px;
    font-weight: 600;
}

.results th, .results td{
    border: 2px solid var(--charcoal);
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.results th{
    height: 35px;
}

.results tr:nth-child(even){
    background-color: var(--charcoal);
}

.form-container, footer{
    background-color: var(--black);
}

.form, footer{
    color: var(--white);
}

.form{
    padding: 30px;
}

.form p{
    margin: 18px 0;
    line-height: 24px;
}

.form label, .form p{
    font-size: 0.9rem;
}

form button{
    border: none;
    background-color: var(--blue);
    color: var(--white);
    padding: 15px;
    font-weight: 600;
    font-size: 1.1rem;
    border-radius: 8px;
    margin-top: 0px;
    transition: background-color 0.4s ease;
}

form button:hover, .blur a:hover{
    background-color: var(--red);
}

form{
    display: grid;
    color: var(white);
}

form input, form textarea{
    margin-bottom: 20px;
    border: 2px solid var(--blue);
}

form input{
    height: 40px;
}

form textarea{
    height: 100px;
}

.form-element{
    display: flex;
    gap: 3px;
    flex-direction: column;
}

footer{
    text-align: center;
    padding-bottom: 30px;
    font-size: 0.8rem;
    line-height: 20px;
}

footer a{
    color: var(--blue);
}

.fade{
    opacity: 0;
    transform: translateY(-20px);
    animation: floatIn 1s ease-out forwards;
    animation-delay: 0.1s;
}

@keyframes floatIn{
    to{
        opacity: 1;
        transform: translate(0);
    }
}

/* MIN-WIDTH OF THE PAGE SHOULD NOT GO BELOW 400PX */

/* ADD A DIV WITH THE CLASS OF CONTAINER TO EVERY CONTENT CONTAINER THIS IS ALLOW THE BASE ELEMENTS TO BE 100% WIDTH, BUT CONSTRAIN THE ACTUAL CONTENT TO 90% */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* ADD TO "INNOVATION & INVESTMENT SECTION (Photo by Kevin Matos on Unsplash) */
 .hero-section{
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('images/vanguard-hero.jpg') no-repeat center center/cover;
    height: 80vh;
    display: grid;
    place-items: center;
    text-align: center;
    padding: 1rem;
    overflow: hidden;
}

/* ADD FLOATING SVG LOGO BEFORE THE H1 */
.header-logo h1::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    left:-.5rem;
    width: 3.75rem;
    height: 3.75rem;
    background: url('images/vanguard-logo.svg') no-repeat center/contain;

    animation: float 4s ease infinite;
}

@keyframes float{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(15px);
    }
    100%{
        transform: translateY(0px);
    }
}

/* THIS ONE IS DONE FOR YOU */
#bar-chart {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: flex-end;
    justify-content: space-around;
    gap: 1rem;
    height: 300px;
    width: 100%;
    max-width: 800px;
    padding: 1rem;
    position: relative;
}

/* ADD ON TRANSITION ON HEIGHT */
.bar {
    width: 50px;
    background: var(--charcoal);
    border-radius: 10px;
    position: relative;
    transition: height 0.5s ease;
    height: 0;
}
/* THIS ONE IS DONE FOR YOU */
.bar::after {
    content: attr(data-year);
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    font-weight: bold;
    color: var(--white);
}
@keyframes stepUp {
    0% {
        height: 0;
    }
    100% {
        height: var(--height);
    }
}
/* ADD ANIMATION ON stepUp for 1s ease-in-out forwards */
.bar {
    animation: stepUp 1s ease-in-out forwards;
}

/* MEDIA QUERIES (MEDIUM) */ 
@media(min-width: 800px){
    .dropdown{
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .cards{
        grid-template-columns: 1fr 1fr;
    }

    #graphs-container table, #chart-container{
        flex: 1;
    }

    #graphs-container{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 20px;
    }

    form input, form textarea{
    border: 3px solid var(--blue);
    }

    #results {
        grid-template-columns: 1fr 1fr;
    }
    .results-container {
        flex-direction: row;
        justify-content: space-between;
    }
    .results table {
        margin-bottom: 0;
    }
    
    .bar-chart {
        width: 50%;
    }

    .results h3{
        margin-bottom: -30px;
    }

    .header-container{
        height: 100px;
    }
}


/* MEDIA QUERIES (LARGE) */

@media (min-width: 1024px){
    .cards{
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    form{
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    form input, form textarea{
        margin-bottom: 0px;
    }

}